.form {
  max-width: 600px;
  margin: 0 auto;
}

.loading-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.custom-loader {
  border: 3px solid #f1f1f1;
  border-top: 3px solid #008cba;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
}

.modal {
  display: flex !important;
}

.cards-wrapper {
  flex-wrap: wrap;
}

.card {
  margin-right: 30px;
  margin-bottom: 30px;
  width: 313px;
}

.card:nth-child(4n + 4) {
  margin-right: 0;
}

.card .content {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}

.card-content {
  height: 250px;
  width: 100%;
}

.align-center {
  align-items: center;
  justify-content: center;
}

.modal .modal-content--image {
  width: auto;
  max-width: 90%;
  max-height: 90%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.modal .modal-content--image img {
  max-width: 100%;
  max-height: 100%;
}

@keyframes spin {
  0% {
    transer: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
