.form {
  max-width: 600px;
  margin: 0 auto;
}

.loading-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.custom-loader {
  border: 3px solid #f1f1f1;
  border-top: 3px solid #008cba;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transer: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
